<html>
<head>
    <title>{% block title %} {% endblock %}</title> 
    <!-- created without being filled -->
    <link rel='stylesheet' href="static/css/stylesheet.css">
</head>
<body>
    <ul>
        {% for message in get_flashed_messages() %}
            <li> {{ message }} </li>
    </ul>
    
    {% block body %}{% endblock%}

    <script src="https://code.jquery.com/jquery.js"> </script>
    <!-- created without being filled -->
    <script src ="static/javascript/general.js"></script>


</body>
</html>