<html>
<head>
    <title>{% block title %} {% endblock %}</title> 

    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    
</head>
<body>
    {% if current_user %}
        <!-- ADD username to jinja -->
        <!--Show only if signed in-->
        <!-- IS IT bootstrap that puts things in the hamburger? or is is it a form HOW DO I MAKE FORM A LINK THAT LOG OUTS-->
        <!-- DO NOT SHOW PROFILE IF ALREADY ON PROFILE PAGE -->
        <a  href='/profile/{{ current_user.username }}'>Profile</a>
        <a  href='/new_landing/{{ current_user.username }}'>Add New Landing</a>
        <!--CREATE LOG OUT CATCH and get ride of logout if not signed in-->
        <form action='/log_out_catch' method='POST'><input type='submit' name='log-out' value='Log-Out'></form>
        <a href='/landing/options'>Change Landing </a>
    {% endif %}

    <ul>
        {% for message in get_flashed_messages() %}
            <li> {{ message }} </li>
        {% endfor %}
    </ul>
   
  
    {% block content %}{% endblock%}

    

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/general.js" type="text/javascript"> </script>


</body>

</html>