{% extends 'base.html' %}

{% block title %} Sign-In {% endblock %}

{% block content %}

<h1> Read and Black </h1>
<br>

<p> Log-In: </p>
<form action='/login_catch' method='POST'>
    <input type='text' name='username' placebolder='username'>
    <input type='text' name='password' type='password'>
    <br>
    <input type='submit' name='login_btn' value='Log-in'>
</form>
<br>
<h3> We search out great content so you can spend your time enjoying and reading. </h3>
<br>



<p> Sign-Up: </p>
<br>
<form action='/sign_up_catch' method='POST'>
    <input type='text' name ='pot_username' placeholder='username'>
    <br>
    <input type='text' name='pot_password' placeholder='password'>
    <br>
    <input type='text' name='pot_2_password' placeholder='re-type password'>
    <input type='submit' name='sign_up_btn' value="Sign-Up">
</form>

{% endblock %}