{% extends 'base.html' %}

{% block title %} Read &amp; Black {% endblock %}

{% block content %}

{% if 'current_user' in session %}
    <p>You are currently logged in as {{ current_user.username }}  </p>
    <a href='/landing/options'><button>Go To News Option Page</button></a>
    <br>
    <br>
    <a href='/profile/{{ current_user.username }}'><button>Go To Your Profile Page</button></a>
{% endif %}

{%  if 'current_user' not in session %}
    <p> Log-In: </p>
    <form action='/login' method='POST'>
        <input type='text' name='username' placeholder='username'>
        <input type='password' name='password' placeholder='password'>
        <br>
        <input type='submit' name='login_btn' value='Log-in' class="btn btn-default">
    </form>
<br>

<br>



<p> Sign-Up: </p>
<br>
<form action='/sign_up' method='POST'>
    <input type='email' name='email' placeholder='email'>
    <br>
    <input type='email' name='sec_email' placeholder='re-type email'>
    <br>
    <input type='text' name ='username' placeholder='username'>
    <br>
    <input type='password' name='password' placeholder='password'>
    <br>
    <input type='password' name='sec_password' placeholder='re-type password'>
    <button id='explain_password' data-password="Passwords must contain at least 6 characters."> Password Requirements </button>
    <br>
    <input id='sign_up_ btn' type='submit' name='sign_up_btn' value="Sign-Up">

</form>

{% endif %}

{% endblock %}
