{% extends 'base.html' %}

{% block title %} News Pages {% endblock %}

{% block content %}

<h1> Your Saved Newspapers </h1>
<br>
    {% if landingnames == None %}
        <p> You Do not have any News Pages at this time. Make a New One Below! </p>
    {% else %}
        {% for landingname in landingnames %}
            <a href="/yourlanding/{{ landingname.landing_name }}"><button>{{ landingname.landing_name }}</button></a>
        {% endfor %}
    {% endif %}

<div id='add_new_story_refill_div'> </div>
 <form action="#" method='POST'>
        <p> Name this News Page </p>
        <div id="landing_name_musts"> </div>
        <input id='new_landing_name' type='text' name='new_landing_name' placeholder='add your new landing name'>
        <div id='add_first_story_div'> 
            <button id='add_first_story_btn' type='submit' >Add First Story</button>
        </div>
        <div id="add_stories_alert"></div>
        <div id="add_story_div">
        </div>
    </form>
    <br>

    <form action='/landing/options'>
        <fieldset>
            <legend>Go to Your News Pages </legend>
            <input type='submit' id='take_to_landing' value='Get News'>
        </fieldset>
    </form>

    
{% endblock %}
