{% extends 'base.html' %}
{% block title %} New Landing {% endblock %}
{% block content %}
    <form action='/new_landing_catch' method='POST'>
        <p> Name this Landing Page </p>
        <input type='text' name='new_landing_name' placeholder='add your new landing name'>
    
        <p>Type</p>
        <select id="type-0" name='type'>
            <option value='text'> Text </option>
            <!-- <option value='audio'> Audio </option>
            <option value='video'> Video </option> -->
        </select>
        <p> ALL OF OUR TEXT IS SOURCED BY NEWS API *** FINISH THE INFO THEY ASK FOR HERE***</p>
        <br>
    
        <p> Topic Category </p>
        <select id="category-0" name='category'>
            <option value='business'> Business </option>
            <option value='entertainment'> Entertainment </option>
            <option value='gaming'>Gaming </option>
            <option value='general'>General </option>
            <option value='music'> Music</option>
            <option value='science-and-nature'> Science-and-Nature </option>
            <option value='technology'> Technology</option>
        </select>
        <br>

        <!-- TEST OUT SOME DAY HAVING MORE THAN ONE can also add country -->
        <p>Language</p>
        <select id="language-0" name='language'>
            <option value = 'en'>English</option>
            <option value = 'de'>German</option>
            <option value = 'fr'>French</option>
            <option value = 'all'> All</option>
        </select>
        <br>
        <!-- AT SOME POINT CHOSE MULTIPLE PLACES -->
        <p>Country</p>
        <select id="country-0" name='country'>
            <option value = 'au'> Austraila</option>
            <option value = 'de'>Germany</option>
            <option value = 'gb'>Great Britian</option>
            <option value = 'in'>India</option>
            <option value = 'it'>Italy</option>
            <option value = 'us'>United States</option>
        </select>
        <br>

        <div id="add_story_div"></div>
        CHANGE THIS ***********
        <div id="hidden_story_count" style="visibility: hidden" name='story_count'> </div>      
        <input type='submit' id='keyword_txt_btn' name='keyword_txt_btn' value='Submit'>
    </form>
    <br>


    <!--I NEED TO FIGURE OUT WHERE TO GET THIS BUTTONS ABILITY TO MAKE A NEW FORM ABOVE ON LANDING PAGE TOO-->
    <p>Add A Story</p>
    <button id='add_story'>Add</button>
    

{% endblock %}