{% extends 'base.html' %}
{% block title %} New Landing {% endblock %}
{% block content %}
    <form action='/new_landing_catch' method='POST'>
        <p> Name this Landing Page </p>
        <input type='text' name='new_landing_name' placeholder='add your new landing name'>
    
        <p>Type</p>
        <select name='type'>
            <option value='text'> Text </option>
            <!-- <option value='audio'> Audio </option>
            <option value='video'> Video </option> -->
        </select>
        <br> 
    
        <p>How to Sort</p>
        <select name ='sortby'>
            <option value='top'> Top </option>
            <option value='latest'> Latest </option>
            <option value='popular'> Popular </option>
        </select>
        <br>
    
        <p> Topic Category </p>
        <select name='category'>
            <option value='business'> Business </option>
            <option value='entertainment'> Entertainment </option>
            <option value='gaming'>Gaming </option>
            <option value='general'>General </option>
            <option value='music'> Music</option>
            <option value='science-and-nature'> Science-and-Nature </option>
            <option value='technology'> Technology</option>
        </select>
        
        <input type='submit' name='keyword_txt_btn' value='Submit'>
    </form>
    <br>

    <!--I NEED TO FIGURE OUT WHERE TO GET THIS BUTTONS ABILITY TO MAKE A NEW FORM ABOVE ON LANDING PAGE TOO-->
    <form action='/new_landing_catch' method='POST'>
        <feildset>
            <legend>Add Another Landing</legend>
                 <input type='submit' name='add_column' value='Add'>
        </feildset>
    </form>
    

{% endblock %}