{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<p> Your Profile </p>
<br>
<!-- Add username to jina for this page -->
<p> You are signed in as: {{ username }} </p>
<br>
<p> Your current email associated with this account: {{ email }}

<form action='/profile_catch' method='POST'>
    <input type ='hidden' name='field' value='email'>
    <!-- I NEED TO FIGURE OUT HOW TO SEND THEM TO THIS PAGE AND KEEP THE PROFILE NAME AND BLOCK OUT THE PASSWORD and make the username not in this but fibut    password changable each section should have a submit button therefore its own form -->
   <feildset>
        <legend> Change your email associated with your account: </legend>
        <input type='email' name='email' placeholder='email'>
        <br>
        <input type='text' name='sec_email' placeholder='re-type email'>
        <br>
        <input type='submit' name='change_email_btn' value='Submit'>
    </feildset>
</form>
<br>


<form action='/profile_catch' method='POST'>
    <input type='hidden' name='field' value='password'>
    <!-- I NEED TO FIGURE OUT HOW TO SEND THEM TO THIS PAGE AND KEEP THE PROFILE NAME AND BLOCK OUT THE PASSWORD and make the username not in this but fibut    password changable each section should have a submit button therefore its own form -->
   <feildset>
        <legend> Change your password: </legend>
        <input type='password' name='password' placeholder='password'>
        <br>
        <input type='password' name='sec_password' placeholder='re-type password'>
        <br>
        <input type='submit' name='change_password_btn' value='Submit'>
    </feildset>
</form>

<br>

<p> Your age: {{ age }} </p>
<!-- This should only be able to be set once what do I do about content not proper for age?-->
<br>

<p> Your registared Academic Level with us is: {{ academic_level.academic_name }} </p>

<form action='/profile_catch' method='POST'>
    <input type='hidden' name='field' value='academic'>
    <p> Academic Level: </p>
    <select name='academic'>
        <option value='highschool'> High School </option>
        <option value='tradeschool'> Trade School </option>
        <option value='ba'> B.A. </option>
        <option value='bs'> B.S. </option>
        <option value='higher'> Higher Degree </option>
    </select>
    <input type='submit' name='academic_btn' value='Submit'>
</form>

<br>

<p> Your gender on file is: {{ gender.gender_name }} </p>

<form action='/profile_catch' method='POST'>
    <input type='hidden' name='field' value='gender'>
    <p>Gender:</p>
    <select name='gender'>
        <option value='Female'> Female </option>
        <option value='Male'> Male </option>
        <option value='Other'> Other </option>
    </select>
    <input type='submit' name='gender_btn' value='Submit'>
</form>

<br>

<!-- create a list of the landing names this person has  AND DO radio buttons need submit?-->
<!-- FINISHE THIS PEICE WHEN MORE THAN ONE LANDING NOT YET! -->
<div id="update_your_landings">
    <p>Your Landing Pages: </p>
    {% for landingname in landingnames %}
        <a href="/yourlanding/{{ landingname[0] }}"><button> {{ landingname[0] }} </button> </a> <form action='/delete_catch'><input class="delete_landing_btn" name="{{ landingname[0] }}" type="submit" value='Delete this Landing'></form>
    {% endfor %}
</div>
 

{% endblock %}