{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<br>
<!-- Add username to jina for this page -->
<h2> Welcome: {{ current_user.username }},  </h2> <br> 
<h4> Your email is {{ current_user.email }}. <br>
    The following information is needed to complete your profile with us:  </h4>
<br>

<!-- This should only be able to be set once what do I do about content not proper for age?-->
<form action='/registar_catch' method='POST'>
    <input type='number' min= 0 max= 113 name='age' placeholder='age'>
    <br>

    <p> Academic Level: </p>
    <select name='academic'>
        <option value='highschool'> High School </option>
        <option value='tradeschool'> Trade School </option>
        <option value='ba'> B.A. </option>
        <option value='bs'> B.S. </option>
        <option value='higher'> Higher Degree </option>
    </select>
    


    <p>Gender:</p>
    <select name='gender'>
        <option value='Female'> Female </option>
        <option value='Male'> Male </option>
        <option value='Other'> Other </option>
    </select>
    <input type='submit' name='registar_btn' value='Submit'>
</form>
<br>


{% endblock %}