{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<p> Your Profile </p>
<br>
<!-- Add username to jina for this page -->
<p> You are signed in as: {{ username }}. <br> 
    Your email is {{ email }}. <br>
    The following information is needed to complete your profile with us.  </p>
<br>

<!-- This should only be able to be set once what do I do about content not proper for age?-->
<form action='/registar_catch/<username>' method='POST'>
    <input type='number' min= 0 max= 113 name='age' placeholder='age'>
    <br>
   


    <p> Academic Level: </p>
    <select name='academic'>
        <option value='highschool'> High School </option>
        <option value='tradeschool'> Trade School </option>
        <option value='ba'> B.A. </option>
        <option value='bs'> B.S. </option>
        <option value='higher'> Higher Degree </option>
    </select>
    


    <p>Gender:</p>
    <select name='gender'>
        <option value='female'> Female </option>
        <option value='male'> Male </option>
        <option value='other'> Other </option>
    </select>
    <input type='submit' name='registar_btn' value='Submit'>
</form>
<br>


{% endblock %}